@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Comic Neue', cursive;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka One', cursive;
}

.certification-logos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.certification-logo-image{
  height: 4rem;
  width: auto;
}